<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <title>添加</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body class="container">
    <form action="{:url('save')}" method="post">
        <div class="row">
            <label>姓名：</label>
            <select name="user" class="btn btn-default">
                {volist name="$User->all()" id="user"}
                    <option>{$user->name}</option>
                {/volist}
            </select>
        </div>

        <hr>

        <div class="row">
            <label>课程：</label>
            <select name="curriculum" class="btn btn-default">
                {volist name="$Curriculum->all()" id="curriculum"}
                    <option>{$curriculum->name}</option>
                {/volist}
            </select>
        </div>

        <hr>

        <div class="row">
            <button type="submit" class="btn btn-default">保存</button>
        </div>
    </form>
</body>
</html>