<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <title>课表管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body class="container">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2"><h2>课程表</h2></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="row">
                <div class="col-md-8">
                    
                </div>
                <div class="col-md-4 text-right">
                    <!-- <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;选课</a> -->

                    <a href="{:url('addcurriculum')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加课程</a>

                    <a href="{:url('deletecurriculum')}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i>&nbsp;管理课程</a>

                    <a href="{:url('readcurriculum')}" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>&nbsp;查询课程</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover table-bordered">
        <tr class="info">
            <th>姓名</th>
            <th>第一节</th>
            <th>第二节</th>
            <th>第三节</th>
            <th>第四节</th>
        </tr>
        {volist name="$Users" id="user" key="key"}
        <tr>
            <td>
                {:$user->name}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {/volist}
    </table>
</body>
</html>