{extend name="edit"} 
{block name="title"}
{eq name="Teacher->id" value=""}添加班级{else /}编辑班级{/eq}
{/block}
{block name="content"}
{php}$action = request()->action() === 'add' ? 'save' : 'update';{/php}
<form action="{:url($action)}" method="post">
	<!-- <input type="hidden" name="id" value="{$Klass->getData('name')}"> -->
	<label for="name">name:</label>
	<input type="text" name="name" id="name" value="{$Klass->name}">
	<label for="teacher">teacher:</label>
	<select name="teacher_id" id="teacher">
		{volist name="teachers" id="_Teacher"}
			<option value="{$_Teacher->id}" {eq name="_Teacher->id" value="$Klass->teacher_id"} selected="selected" {/eq}>
				{$_Teacher->name}
			</option>
		{/volist}
	</select>
	<button type="submit">submit</button>
</form>
{/block}